{% extends "form_page.html" %}

{% block content %}
    {% if token_fail %}
        <div class='text-center'>
            <div class='alert alert-danger'>
                <p>The password reset link was invalid, possibly because it has already been used.</p>
            </div>
            <p>Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
        </div>
    {% else %}
        {% if form %}
            {{ block.super }}
        {% else %}
            <p class='text-center'>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock %}
