{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h4>Website development</h4>
        <p>David Seddon <br><a class='btn btn-default' href='http://seddonym.me/'><i class='fa fa-external-link'></i> visit website </a>
        </p>
        <p>
        	‘Website And Mobile Apps, Design and Development’ Borne Digital
        	<a class='btn btn-default' href="http://borneagency.com"><i class='fa fa-external-link'></i> visit website</a>
        </p>
    </div>    
{% endblock %}
