{% extends 'page_fullwidth.html' %}
{% block breadcrumbs_wrapper %}{% endblock %}

{% block content_row_wrapper %}
{% block page_title %}{% endblock %}
<div class="row mar0 Helvetica f18 privacy-policy-page">
    <div class="row page-title">
        <h3>{% block page_title_inner %}{{ title }}{% endblock %}</h3>           
    </div>
    <div class= "col-md-10 col-md-offset-1 pad0 padb40">
   
        <p>
            Interested in knowing our pricing? Below is the minimum pay per hour for each staff type. Each booking on BuzzHire is made on an hourly basis. Pay more and receive a faster response and higher rated freelancers.
        </p>
        <div class="pricing-table-wrap table-responsive">
            <table class="table pricing-table">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan=5>Drivers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th> Experience</th>
                        <th> No vehicle</td>
                        <th> Bicycle Driver</td>
                        <th> Scooter Driver</td>
                        <th> Car Driver</td>
                        <th> Van Driver</td>
                    </tr>
                    <tr>
                        <th> Less than 1 year</th>
                        <td> &pound;7.25</td>
                        <td> &pound;7.50</td>
                        <td> &pound;8.00</td>
                        <td> &pound;8.25</td>
                        <td> &pound;8.25</td>
                    </tr>
                    <tr>
                        <th> 1-3 year</th>
                        <td> &pound;7.50</td>
                        <td> &pound;7.75</td>
                        <td> &pound;8.25</td>
                        <td> &pound;8.50</td>
                        <td> &pound;8.50</td>
                    </tr>
                    <tr>
                        <th> 3-5 year</th>
                        <td> &pound;7.75</td>
                        <td> &pound;8.00</td>
                        <td> &pound;8.50</td>
                        <td> &pound;8.75</td>
                        <td> &pound;8.75</td>
                    </tr>
                    <tr>
                        <th> > 5 year</th>
                        <td> &pound;8.00</td>
                        <td> &pound;8.25</td>
                        <td> &pound;8.75</td>
                        <td> &pound;9.00</td>
                        <td> &pound;9.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
         <div class="pricing-table-wrap table-responsive">
       
           <table class="table pricing-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Waiter</th>
                        <th colspan=3>Bar staff</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th> Experience</th>
                        <th> Waiter</td>
                        <th> Barista</td>
                        <th> Bartender</td>
                        <th> Mixologist</td>
                    </tr>
                    <tr>
                        <th> Less than 1 year</th>
                        <td> &pound;8.00</td>
                        <td> &pound;8.00</td>
                        <td> &pound;8.25</td>
                        <td> &pound;8.25</td>
                    </tr>
                    <tr>
                        <th> 1-3 year</th>
                        <td> &pound;8.25</td>
                        <td> &pound;8.25</td>
                        <td> &pound;8.50</td>
                        <td> &pound;8.50</td>
                    </tr>
                    <tr>
                        <th> 3-5 year</th>
                        <td> &pound;8.50</td>
                        <td> &pound;8.50</td>
                        <td> &pound;8.75</td>
                        <td> &pound;8.75</td>
                    </tr>
                    <tr>
                        <th> > 5 year</th>
                        <td> &pound;8.75</td>
                        <td> &pound;8.75</td>
                        <td> &pound;9.00</td>
                        <td> &pound;9.00</td>
                    </tr>
                </tbody>
            </table>   
        </div>
         <div class="pricing-table-wrap table-responsive">
            <table class="table pricing-table">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan=3>Kitchen staff</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th> Experience</th>
                        <th> Kitchen Porter</td>
                        <th> Kitchen Assistant</td>
                        <th> Chef</td>
                    </tr>
                    <tr>
                        <th> Less than 1 year</th>
                        <td> &pound;7.75</td>
                        <td> &pound;8.00</td>
                        <td> &pound;8.50</td>
                    </tr>
                    <tr>
                        <th> 1-3 year</th>
                        <td> &pound;8.00</td>
                        <td> &pound;8.25</td>
                        <td> &pound;8.75</td>
                    </tr>
                    <tr>
                        <th> 3-5 year</th>
                        <td> &pound;8.25</td>
                        <td> &pound;8.50</td>
                        <td> &pound;9.00</td>
                    </tr>
                    <tr>
                        <th> > 5 year</th>
                        <td> &pound;8.50</td>
                        <td> &pound;8.75</td>
                        <td> &pound;9.25</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}
