{% extends 'page_fullwidth.html' %}
{% block breadcrumbs_wrapper %}{% endblock %}

{% block content_row_wrapper %}
{% block page_title %}{% endblock %}
<div class="row mar0 Helvetica f18 privacy-policy-page">
        <div class="row page-title">
            <h3>{% block page_title_inner %}{{ title }}{% endblock %}</h3>           
        </div>
        <div class= "col-md-10 col-md-offset-1 pad0 padb40">
            <p>
                Terms of engagement &amp; Casual Worker Agreement
            </p>
            <p>
                EMPLOYMENT BUSINESS: BuzzHire Limited
            </p>
            <p>
                ADDRESS: Mills &amp; Reeve LLP, Fountain House, 130 Fenchurch Street, London, EC3M 5DJ
            </p>
            <p>
                Section 1 1. DEFINITIONS
            </p>
            <p>
                *1.1. In these Terms of Engagement the following definitions will apply: -
            </p>
            <p>
                &ldquo;The Agency&rdquo; means BuzzHire Limited
            </p>
            <p>
                &ldquo;You&rdquo; means the Temporary Worker
            </p>
            <p>
                &ldquo;Assignment&rdquo; means the period during which you are supplied to render services to the Client;
            </p>
            <p>
                &ldquo;Client&rdquo; means the person, firm or corporate body requiring the services of you together with any subsidiary or associated company as defined by the Companies Act 1985;
            </p>
            <p>
                &ldquo;Relevant Period&rdquo; means the longer period of either 14 weeks from the first day you worked for the Client or 8 weeks from the day after you were last supplied by the Agency to the Client.
            </p>
            <p>
                &ldquo;Time of Booking&rdquo; means the date on which you receive written confirmation from the Agency of the requirement for you to provide services to a client
            </p>
            <p>
                1.2. Unless the context otherwise requires, references to the singular include the plural.
            </p>
            <p>
                1.3. The headings contained in these Terms are for convenience only and do not affect their interpretation.
            </p>
            <p>
                Section 3. THE CONTRACT
            </p>
            <p>
                2.1 These terms constitute a contract for services between you and the Agency and they govern all assignments undertaken by you on behalf of the Agency. They will be deemed to have been accepted by you each time you accept a booking for an Assignment. However, no contract shall exist between you and the Agency between assignments.
            </p>
            <p>
                2.2 For the avoidance of doubt, these Terms shall not give rise to a contract of employment between you and the Agency. You warrant and represent to the Agency that you are an independent self employed worker, and you are engaged by the Agency as a self-employed worker, although the Agency is required to make statutory deductions from your remuneration in accordance with clause 4.5 of these terms.
            </p>
            <p>
                2.3 No variation or alteration of these Terms shall be valid unless the details of such variation are agreed between you and the Agency and set out in writing and a copy of the varied terms is given to you stating the date on or after which such varied terms shall apply.
            </p>
            <p>
                Section 2. ASSIGNMENTS
            </p>
            <p>
                3.1 The Agency is not obliged to find suitable work for you and suitability for an assignment shall be determined solely by the Agency. Equally, you are not under any obligation to accept any assignment offered to you by the Agency.
            </p>
            <p>
                3.2 You acknowledge that the nature of temporary work means that there may be periods when no suitable work is available and agree that:
            </p>
            <p>
                3.2.1 the suitability of the work to be offered shall be determined solely by the Agency;
            </p>
            <p>
                3.2.2 the Agency shall incur no liability to you should it fail to offer opportunities to work in the above categories or in any other category; and
            </p>
            <p>
                3.2.3 no contract shall exist between you and the Agency during periods when you are not working on an Assignment.
            </p>
            <p>
                3.3 At the same time as an Assignment is offered to you the Agency shall inform you of the identity of the Client, and if applicable, the nature of their business, the date the work is to commence and the duration or likely duration of the work, the type of work, location and hours during which you would be required to work, the rate of remuneration that will be paid and any expenses payable by or to the you, and any risks to health and safety known to the Client in relation to the Assignment and the steps the Client has taken to prevent to control such risks. In addition the Agency shall inform you what experience, training, qualifications and any authorisation required by law or a professional body the Client considers necessary or which are required by law to work on the Assignment.
            </p>
            <p>
                3.4 Where such information is not given in paper form or by electronic means it shall be confirmed by such means by the end of the third business day (excluding Saturday, Sunday and any public or bank holiday) following save where you are being offered an Assignment in the same position as one in which you had previously been supplied within the previous five business days and such information has already been given to you.
            </p>
            <p>
                3.5 For the purpose of calculating the average number of weekly hours worked by you on an Assignment, the start date for the relevant averaging period under the Working Time Regulations shall be the date on which you commence the first Assignment.
            </p>
            <p>
                Section 4. REMUNERATION
            </p>
            <p>
                4.1 Fees for your services will be agreed and confirmed via email on a per Assignment basis at the Time of Booking. The Agency does not apply a fixed rate as each Assignment requires different levels of input and hours. Rates are confidential between you and the Agency and are subject to the obligations of confidentiality contained in clause 8 of these Terms.
            </p>
            <p>
                4.2 For the avoidance of doubt, such rate shall include an element in respect of the holiday pay to which you are entitled under the Working Time Regulations 1998. This rate will be 12.07% of pay. The exact amount shall be notified to you in writing at the Time of Booking. These amounts are gross amounts and are subject to Tax and NI at the normal rates.
            </p>
            <p>
                4.3 Payment will include all work performed on activities completed from the Monday of the previous week up to the Sunday of that week. For example, any work completed on a Monday will be paid by the following Monday. Payment will be made directly to your bank account if provide the Agency with your correct current bank details. You MUST inform the Agency if your bank details change.
            </p>
            <p>
                4.4 Subject to any statutory entitlement under the relevant legislation, you are not entitled to receive payment from the Agency or Clients for time not spent on Assignment, whether in respect of holidays, illness or absence for any other reason unless otherwise agreed.
            </p>
            <p>
                4.5 Should your Assignment be terminated prematurely by reason of the Client&rsquo;s instruction, for example that you be removed from their premises, you will not be entitled to payment for the balance of the unworked hours or days of the Assignment. You will only be entitled to payment for the hours actually worked.
            </p>
            <p>
                4.6 Payment will be made weekly in arrears on the first working day of the following week subject to deductions in respect of PAYE pursuant to Section 44-47 of the Income Tax (Earnings and Pensions) Act 2003 and Class 1 National Insurance Contributions and any other deductions which the Agency may be required to make by law.
            </p>
            <p>
                4.7 You must complete a P46 or P38S form (whichever is applicable) to receive payment. The Agency is required to treat students under PAYE status throughout the year. The only exception to this is between July 1st and August 31st and then ONLY if a P38S form supported by a signed and stamped letter on University/College letterhead, detailing term dates, is provided to the Agency each year. You agree to indemnify the Agency in respect of all and any income tax and national insurance contributions which may be found due from the Agency on any payments made to you under these Terms together with any interest, penalties or gross-up thereon. In addition
            </p>
            <p>
                4.8 For the avoidance of doubt there is no pension scheme available to you.
            </p>
            <ol>
                <li>
                    <p>
                        STATUTORY LEAVE
                    </p>
                </li>
            </ol>
            <p>
                5.1 For the purpose of calculating entitlement to paid annual leave pursuant to the Working Time Regulations 1998 under this clause, the leave year commences on the date that you start an Assignment.
            </p>
            <p>
                5.2 Under the Working Time Regulations 1998, you are entitled to 5.6 weeks (inclusive of bank and public holidays) paid leave per year pro rata to hours worked. All entitlement to leave must be taken during the course of the leave year in which it accrues and none may be carried forward to the next year.
            </p>
            <p>
                5.3 Paid leave may only be taken during the course of an Assignment if it is expressly agreed with the Agency at least 7 days in advance. The Agency shall be entitled to withhold such agreement for the period of your assignment or reduce the amount of leave that you wish to take.
            </p>
            <p>
                5.4 If your assignment lasts more than 48 weeks you shall be entitled to take accrued untaken holiday at the beginning of the 47th week. During the period of your assignment any days that you are not required to work (other than travel/set-up days) shall at the Agency&rsquo;s request be deemed to be holiday.
            </p>
            <p>
                5.5 Entitlement to payment for leave accrues in proportion to the amount of time worked continuously by you on Assignment during the leave year. Payments for annual leave will be calculated on the basis of the rates paid during the Assignment.
            </p>
            <p>
                5.6 Where the contract is terminated by either party and a P45 is requested, you shall be entitled to a payment in lieu of any untaken leave where the amount of leave taken is less than the amount accrued in accordance with clause 5.2 above.
            </p>
            <p>
                5.7 None of the provisions of this clause regarding the statutory entitlement to paid leave shall affect your status as a self-employed worker.
            </p>
            <ol>
                <li>
                    <p>
                        SICKNESS &amp; EMERGENCIES
                    </p>
                </li>
            </ol>
            <p>
                6.1 In the event that you are unable to attend an assignment you are contracted to perform you must notify the Agency immediately.
            </p>
            <p>
                6.2 Should you be able to provide a suitable replacement yourself, you must first discuss this with your Booker at the Agency. Otherwise, the Agency will take the appropriate action.
            </p>
            <p>
                6.3 Please respect the fact that finding a replacement for you is not an easy task at short notice and we would ask for as much advanced warning as possible. Normal office hours are Monday to Friday 9am-6.30pm.
            </p>
            <p>
                6.4 You may be eligible for Statutory Sick Pay provided that you meet the relevant statutory criteria.
            </p>
            <p>
                6.5 For the purpose of the Statutory Sick Pay Scheme there is one qualifying day per week during the course of an assignment and that qualifying day shall be the Wednesday in every week.
            </p>
            <ol>
                <li>
                    <p>
                        TRAVEL
                    </p>
                </li>
            </ol>
            <p>
                7.1 For the avoidance of doubt and for the purposes of the Working Time Regulations, your working time shall only consist of those periods during which you are carrying out activities or duties for the Client as part of the Assignment. Time spent travelling to the Client&rsquo;s premises, lunch breaks and other rest breaks shall not count as part of your working time for these purposes.
            </p>
            <p>
                7.2 You are expected to cover your own cost of travel to and from assignments. There may be certain occasions when you will be reimbursed your travel expenses, but this will always be agreed with you prior to the booking and confirmed via email. All expenses must be supported by relevant receipts and must be returned to the Agency within five working days following your Assignment. Only original receipts will be accepted &ndash; not copies or visa slips. If travel receipts are not received within the required time period the Agency will be unable to claim them from the Client and hence will be unable to reimburse you.
            </p>
            <ol>
                <li>
                    <p>
                        CONDUCT OF ASSIGNMENTS
                    </p>
                </li>
            </ol>
            <p>
                8.1 You are not obliged to accept any Assignment offered by the Agency but if you do so, during every Assignment and afterwards where appropriate, you will:
            </p>
            <p>
                8.1.1. Use all reasonable skill and care whilst working on the Assignment
            </p>
            <p>
                8.1.2. Carry out the services in an expert, diligent and professional manner and to the best of your ability
            </p>
            <p>
                8.1.3. Cooperate with the Client&rsquo;s and the Agency&rsquo;s reasonable instructions and accept the direction, supervision instruction and control of any responsible person in the Agency or the Client&rsquo;s organisation
            </p>
            <p>
                8.1.4. Observe and conform to the Client&rsquo;s rules and regulations and standards of work in practice to which attention has been drawn or which you might reasonably be expected to ascertain.
            </p>
            <p>
                8.1.5. Take all reasonable steps to safeguard your own health and safety and that of any other person who may be present or be affected by your actions on the Assignment and comply with the Health and Safety Policies and procedures of the Client, including the wearing and use of Personal Protective Equipment as instructed.
            </p>
            <p>
                8.1.6. Promptly notify the Agency (NOT the Client) if you are unable to attend any assignment for any reason
            </p>
            <p>
                8.1.7. Not engage in any conduct detrimental to the interests of the Client or the Agency.
            </p>
            <p>
                8.1.8. Not, whether during the currency of this agreement or at any time after the termination thereof, divulge any information to any person relating to the Agency&rsquo;s private affairs, clients, business or method of carrying on business
            </p>
            <p>
                8.1.9. Not at any time divulge to any person nor use for your own or any other person&rsquo;s benefit, any trade secrets or any other confidential information of the Agency or a Client to whom you have been assigned to work and which relates to their respective employees, agents, clients, customers, suppliers, business affairs or finances that is not in the public domain.
            </p>
            <p>
                8.2 If you are unable for any reason to attend work during the course of an Assignment you should inform the Agency (NOT the Client) within one hour of the commencement time of the Assignment.
            </p>
            <p>
                8.3 If you believe there is a problem with an assignment please contact the Agency representative to discuss the matter. Please do not discuss the matter with the Client.
            </p>
            <p>
                8.4 If, either before or during the course of an Assignment, you become aware of any reason why you may not be suitable for an Assignment, you shall notify the Agency without delay.
            </p>
            <ol>
                <li>
                    <p>
                        PRESENTATION
                    </p>
                </li>
            </ol>
            <p>
                9.1 The Agency expects all representatives to be immaculately turned out at all times. No jewellery should be worn unless specified; hair should always be clean and tidy, and tied back if long, makeup should be discreet and if a uniform is not provided then clothes should be clean and freshly ironed for every assignment. Men must be clean-shaven.
            </p>
            <p>
                9.2 Please note that no eating, smoking or the consumption of alcohol should be undertaken during any assignment. If you are on your scheduled break and wish to eat, have a soft drink or smoke please ensure you remove any branded uniform first.
            </p>
            <ol>
                <li>
                    <p>
                        UNIFORM
                    </p>
                </li>
            </ol>
            <p>
                10.1 If you are provided with a uniform and promotional material please ensure it is returned to your Event Manager at the end of each day. If there is no Event Manager managing the Assignment then you will be responsible for the said items and should ensure that you take the uniforms, kit and remaining promotional material home with you at the end of the activity. Please then contact the Agency and you will be advised what to do. Please note that the Agency imposes penalties, detailed on your Briefing Document, for non-adherence to the uniform rules.
            </p>
            <ol>
                <li>
                    <p>
                        RELIABILITY
                    </p>
                </li>
            </ol>
            <p>
                14.1 For all Assignments you should arrive at least fifteen minutes prior to the work commencement time. Please allow extra time to travel to an Assignment, in order to still be on time despite any unforeseen traffic and tube delays, etc. Please remember you are representative of the Agency and every Client must be treated with respect. Please be courteous, polite and on your very best behaviour at all times - you never know when a Client or the Agency are performing a mystery shopper exercise. Please note that the Agency imposes sanctions, detailed in your Briefing Document, for lateness.
            </p>
            <ol>
                <li>
                    <p>
                        CANCELLATIONS
                    </p>
                </li>
            </ol>
            <p>
                15.1 The nature of this industry is such that from time to time the Agency is subject to the Client&rsquo;s cancellation of Assignments for reasons beyond the control of the Agency. In these circumstances, and only if the cancellation is given with less than 24 hours notice, the Agency will endeavour to recover fees due and will then pay you. Payment in respect of cancellation fees will only be made once the necessary funds have been received from the Client. In the event of a cancellation the Agency will notify you as far in advance as possible.
            </p>
            <ol>
                <li>
                    <p>
                        ROAD TRAFFIC OFFENCES
                    </p>
                </li>
            </ol>
            <p>
                16.1 The Agency will not be responsible for any illegal parking, clamping or speeding fines or other fines or penalties incurred whilst working on an assignment, whether it is your own vehicle or a hired vehicle provided by the Agency.
            </p>
            <ol>
                <li>
                    <p>
                        YOUR OBLIGATIONS
                    </p>
                </li>
            </ol>
            <p>
                17.1 To assist the Agency in finding suitable assignments for you, you will provide the following information to the Agency and you hereby warrant that the information is true, accurate and complete:
            </p>
            <p>
                17.1.1 Your name, address and contact details;
            </p>
            <p>
                17.1.2 Details of all relevant experience, training, qualifications and any other authorisations required for you to carry out the services for clients of the Agency;
            </p>
            <p>
                17.1.3 On request, and if applicable, provide evidence of any relevant, professional or other qualifications;
            </p>
            <p>
                17.1.4 Any other relevant information that the Agency should be aware of that may affect your ability to carry out your services under these Terms.
            </p>
            <p>
                17.1.5 You consent to having a picture and video stored by the Agency which may be published on the Agency website
            </p>
            <ol>
                <li>
                    <p>
                        DEDUCTIONS FROM WAGES
                    </p>
                </li>
            </ol>
            <p>
                18.1 If during or on termination of these Terms you owe any money to the Agency you agree that the Agency has the right to deduct this sum from your wages or any other monies it owes to you. By signing this agreement, you expressly consent to any such deduction/s pursuant to part II of the Employment Rights Act 1996. Circumstances in which deductions may be made by the Agency include, but are not limited to the following:
            </p>
            <p>
                18.2 Recovery of losses incurred through lateness, non-adherence to uniform requirements and other misconduct specified in the Briefing Document
                <br/>
                18.3 Annual leave taken in excess of accrued entitlement at the end of your engagement
                <br/>
                18.4 Overclaimed or disallowed expenses.
                <br/>
                18.5 Excess of any other payment made to you by the Agency
                <br/>
                18.6 Cost of replacement of uniform not returned by you at the end of an Assignment or cost of repair of damage
                <br/>
                18.7 Excess part of any insurance claim incurred by the Agency through your negligence or lack of care
                <br/>
                18.8 any expenses incurred by the Agency as a result of your terminating your engagement less than 48 hours before the start date of an assignment or during the assignment without reasonable cause
                <br/>
                18.9 Loans or advances of pay.
                <br/>
                18.10 Repayment of training costs.
                <br/>
                18.11 Any cash floats not repaid by you at the end of your employment.
                <br/>
                18.12 Cost of repair of Company vehicles damaged due to your negligence or lack of care during or at the end of your employment.
                <br/>
                18.13 Other costs reasonably incurred in the replacement of equipment (e.g. replacement locks and keys necessary due to non return of keys) not returned by you, or repair of equipment returned damaged by you, either during or after employment.
                <br/>
                18.14 Costs incurred as a result of you not working your notice period.
            </p>
            <ol>
                <li>
                    <p>
                        AGENCY CLIENTS
                    </p>
                </li>
            </ol>
            <p>
                19.1 If, before the first Assignment, during the course of an Assignment or within the Relevant Period the Client wishes to employ you direct or through another employment business, you acknowledge that the Agency will be entitled either to charge the Client a fee or to agree an extension of the hiring period with the Client at the end of which you may be engaged directly by the Client or through another employment business without further charge to the Client. In addition the Agency will be entitled to charge a fee to the Client if the Client introduces you to a third party who subsequently engages you within the Relevant Period.
            </p>
            <ol>
                <li>
                    <p>
                        DATA PROTECTION
                    </p>
                </li>
            </ol>
            <p>
                20.1 You will for the purposes of the Data Protection Act 1998 consent to the processing of all or any personal data (in manual, electronic or any other form) relevant to your engagement by the Agency and/or any agent or third party nominated by the Agency and bound by a duty of confidentiality. Processing includes but is not limited to obtaining, recording, using and holding data and includes the transfer of data to any country either inside or outside the EC.
            </p>
            <ol>
                <li>
                    <p>
                        TERMINATION
                    </p>
                </li>
            </ol>
            <p>
                21.1 The Agency or the Client may terminate any Assignment at any time without prior notice or liability.
            </p>
            <p>
                21.2 You may terminate any Assignment at any time without liability by giving at least 48 hours prior notice to the Agency.
            </p>
            <p>
                21.3 If you terminate your engagement less than 48 hours before the start of an Assignment or during an Assignment without reasonable cause, you will be liable for any expenses incurred (incl. intangibles &ndash; labour, admin etc) as a result of such termination and such expenses may be deducted from any monies owing to you by the Agency.
            </p>
            <p>
                21.4 Should you be unable to attend work during the course of an Assignment, failure to inform the Agency (in accordance with clause 8.2), will be treated as termination of the Assignment by you without notice unless you can show that exceptional circumstances prevented you from complying with clause 8.2.
            </p>
            <p>
                21.5 If you are absent during the course of an Assignment and the contract has not been otherwise terminated under clauses 21.1, 21.2 or 21.4 above the Agency will be entitled to terminate the contract in accordance with clause 21.1 if the work to which the you were assigned is no longer available for you.
            </p>
            <p>
                21.6 These Terms will terminate automatically in the event that you die or become unable to provide the services by reason of permanent incapacity, or having carried out a suitable risk assessment in accordance with health and safety provisions, the Agency considers it inadvisable for you to continue performing the services.
            </p>
            <p>
                21.7 The Agency may by summarily terminate these Terms with immediate effect if:
            </p>
            <p>
                21.7.1 You become bankrupt
            </p>
            <p>
                21.7.2 You conduct yourself in any manner which, in the reasonable opinion of the Agency, brings or is likely to bring you and/or the Agency into disrepute
            </p>
            <p>
                21.7.3 You commit any act of fraud or dishonesty (whether or not connected with your engagement hereunder) or commit any unreasonable act which, in the reasonable opinion of the Agency, adversely affects your ability properly to carry out the services
            </p>
            <p>
                21.7.4 You are convicted of a criminal offence (including an offence under road traffic legislation in respect of which you are not sentenced to a term of imprisonment, whether immediate or suspended
            </p>
            <p>
                21.7.5 You become of unsound mind or a patient as defined in either Section 112 or Section145 of the Mental Health Act 1983 or been admitted to a hospital in pursuance of an application made under Part 11 of that Act .
            </p>
            <ol>
                <li>
                    <p>
                        LAW
                    </p>
                </li>
            </ol>
            <p>
                22.1 These Terms are governed by the law of England and Wales and are subject to the exclusive jurisdiction of the Courts of England &amp; Wales.
            </p>
            <p>
                BuzzHire LTD
                <br/>
                CASUAL WORKER AGREEMENT
            </p>
            <p>
                This document sets out terms of the working relationship between BuzzHire Limited ("the Company") , Mills &amp; Reeve LLP, Fountain House, 130 Fenchurch Street, London, EC3M 5DJ, and you.
            </p>
            <p>
                You are a 'Worker' within UK employment legislation.
                <br/>
                For the avoidance of doubt, this agreement does not give rise to a relationship of employer and employee. There is no mutuality of obligation whatsoever between you and the Company. This means that the Company is not obliged to offer you work, nor are you obliged to accept any offer of work made by the Company.
            </p>
            <p>
                Job Title:
                <br/>
                The Company may offer you work as a brand ambassador, Event Manager from time to time.
            </p>
            <p>
                Place of Work:
                <br/>
                You will be advised of your place of work at the start of each assignment.
            </p>
            <p>
                Pay:
                <br/>
                Your rate of pay is set per hour payable on each Monday of the month, by BACS, 1 week in arrears.
                <br/>
                The rate you are paid will include payment equivalent to 12.02% of your hourly fee, for each hour you work, as payment for the annual leave you have accrued and to fully satisfy your holiday entitlement. This payment will be not be separately detailed on your Pay Notification.
            </p>
            <p>
                Hours of Work
                <br/>
                Your hours of work will be notified to you at the start of each assignment.
                <br/>
                You will also be advised of any break times to which you may be entitled.
            </p>
            <p>
                Common Law Duties and Conduct:
                <br/>
                If you accept any offer of work, you will owe the Company the usual common law duties expected from a Worker, which include:
            </p>
            <p>
                &bull; Ensuring that your conduct is not detrimental to the interests of the Company &bull; Ensuring that your services are carried out with reasonable care and skill to a standard reasonably required by the Company &bull; Complying with the Company's policies, procedures and practices &bull; Taking all reasonable steps to safeguard your own safety and the safety of any other person who may be affected by your actions at work &bull; Complying with all reasonable instructions and requests within the scope of the agreed services and duties
            </p>
            <p>
                Annual Holidays:
                <br/>
                You are entitled to 5.6 weeks paid holidays per year (subject to a maximum of 28 days), inclusive of any public holiday entitlement. Your entitlement will be calculated on a pro-rata basis.
            </p>
            <p>
                The Company will make a payment for each hour you work as payment for the annual leave you have accrued and to fully satisfy your holiday entitlement. Details of this rolled up holiday pay are shown above in the Pay section of this Agreement.
            </p>
            <p>
                Sick Pay:
                <br/>
                If you become sick after you have agreed to undertake work for the Company, you will only be entitled to Statutory Sick Pay if you meet the qualifying conditions.
            </p>
            <p>
                Notice:
                <br/>
                There is no requirement on either you or the Company to give notice to end this agreement.
            </p>
            <p>
                Deductions:
                <br/>
                The Company reserves the right to deduct any outstanding monies due to the Company from your pay. This includes any previous error or overpayment, the costs of damages or losses caused attributable to your negligence, any cash or stock shortages, driving related fines, the cost of personal calls on Company telephones, and any other monies due to the Company during the course of your assignment.
            </p>
            <p>
                Operational Policies and Procedures:
                <br/>
                You are required to comply with any Operational Policies and Procedures, as instructed and provided by the Company.
            </p>
            <p>
                Data Protection
                <br/>
                In relation to the Data Protection Act 1998, the Worker agrees to the processing of personal data by the Company for the purposes of calculating fee payments due and maintaining any records that are necessary for the performance of the contract.
            </p>
            <p>
                Any information held concerning you which is personal data and which is processed by the Company for these purposes shall be processed only in accordance with the Data Protection Act 1998.
            </p>
            <p>
                Confidentiality:
                <br/>
                You agree that during the course of your assignment you will have access to Confidential Information belonging to the Company. You shall not at any time during (except in the proper course of carrying out your duties) or after your assignment, whether directly or indirectly, disclose to a third party or make use of any Confidential Information.
            </p>
            <p>
                For the purposes of this section, "Confidential Information" is defined as information, regardless of the format or manner in which it is recorded or stored, which is not within the public domain and which relates to the business, products, finances, affairs, trade secrets, intellectual property, technical data, and know-how of the Company, its clients, customers, or any business contacts whatsoever.
            </p>
            <p>
                Acknowledgement:
                <br/>
                You acknowledge and agree that you have read, understood and accept the terms contained within this Agreement.
            </p>
            <p>
                <br/>
                <br/>
            </p>
        </div>
    </div>

{% endblock %}

