{% extends 'account/signup.html' %}
{% load django_bootstrap_breadcrumbs crispy_forms_tags static %}

{% block form_content %}
    <p>Already have an account on BuzzHire?
       Please <a href='{% url 'account_login' %}?next={{ request.path }}'>log in to book</a>, or 
       if you forgot your password you can
       <a href='{% url 'account_reset_password' %}'>reset it</a>.
    </p>
    <form method="post">
        {% csrf_token %}
        {% if extra_forms.0.errors or extra_forms.1.errors or form.errors %}
            {% include 'includes/forms/invalid_form_message.html' with force_show=True %}
        {% endif %}
        {% crispy extra_forms.0 %}
        {% crispy extra_forms.1 %}
        {% crispy form %}
    </form>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include 'includes/forms/datetime_form_js.html' %}
{% endblock %}