<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 copyright">
                <ul class="white list-inline footer-list mar0">
                    <li>&copy; 2015 BuzzHire</li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy' %}">Privacy policy</a>
                    </li>


                </ul>
            </div>

            <div class="col-sm-5 social-icon">
                <a class="social-icon externalLink fa fa-facebook" href="http://{{ facebook_url }}"></a>
                <a class="social-icon externalLink fa fa-twitter" href="http://{{ twitter_url }}"></a>
                <a class="social-icon externalLink fa fa-instagram" href="https://instagram.com/buzzhire/"></a>
            </div>
        </div>
    </div>
</footer>