{% load static compress %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if title %}{{ title }} | {% endif %}BuzzHire</title>

<!-- CSS -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.desk.com/assets/widget_embed_191.css" media="screen" rel="stylesheet" type="text/css" />
{% compress css %}
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}">
    {#<link href="{% static 'css/main.less' %}" rel="stylesheet" type='text/less'>#}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type='text/css'>
{% endcompress %}
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
