{% extends 'account/dashboard_base.html' %}
{% load crispy_forms_tags django_bootstrap_breadcrumbs core_tags %}

{% block inner_breadcrumb %}
  {{ block.super }}
  {% breadcrumb 'Pending job requests' 'freelancer_invitations_list' %}
  {% breadcrumb job_request job_request.get_absolute_url %}
{% endblock %}

{% block content %}
    <div class='row' style='margin-top: 3em;'>
        <div class='col-md-5 box-left'>
            {% summary job_request %}
        </div>
        <div class='col-md-6 box-right' style='margin-top: 25px;'>
            {% crispy form %}  
        </div>
    </div>
{% endblock %}
