{% extends 'page_fullwidth.html' %}
{% block breadcrumbs_wrapper %}{% endblock %}

{% block content_row_wrapper %}
{% block page_title %}{% endblock %}
<div class="row mar0 Helvetica f18 privacy-policy-page">
        <div class="row page-title">
            <h3>{% block page_title_inner %}{{ title }}{% endblock %}</h3>           
        </div>
                    <div class= "col-md-10 col-md-offset-1 pad0 padb40">
            <p>
                <strong>
                     BUZZHIRE LIMITED
                </strong>
            </p>
            <p>
                <strong>
                    TERMS AND CONDITIONS FOR THE SUPPLY OF TEMPORARY WORKERS
                </strong>
            </p>
            <p>
                These terms and conditions (&ldquo;
                <strong>
                    Terms
                </strong>
                &rdquo;) govern the supply of temporary workers to you by Buzzhire Limited (Company No. 09587086) of Mills &amp; Reeve LLP, Fountain House, 130 Fenchurch Street, London, EC3M 5DJ (&ldquo;
                <strong>
                    Buzzhire
                </strong>
                &rdquo;).
            </p>
            <p>
                By clicking on the &ldquo;ACCEPT&rdquo; button you (the &ldquo;
                <strong>
                    Client
                </strong>
                &rdquo;):
            </p>
            <ul>
                <li>
                    <p>
                        agree to be bound by these terms and conditions together with any terms set out in your Request Summary; and
                    </p>
                </li>
                <li>
                    <p>
                        confirm, that where you are an individual accepting these terms on behalf of a company, partnership or other legal entity, that you have the right and authority to enter into these terms on behalf of such entity.
                    </p>
                </li>
            </ul>
            <ol>
                <li>
                    <p>
                        <strong>
                            Interpretation
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                The following definitions apply to these Terms:
                            </p>
                        </li>
                    </ol>
                </li>
            </ol>
            <p>
                &ldquo;
                <strong>
                    Assignment
                </strong>
                &rdquo; shall have the meaning set out in clause 3;
            </p>
            <p>
                &ldquo;
                <strong>
                    AWR 2010
                </strong>
                &rdquo; means the Agency Workers Regulations 2010 (
                <em>
                    SI 2010/93
                </em>
                );
            </p>
            <p>
                &ldquo;
                <strong>
                    Business Day
                </strong>
                &rdquo; means a day other than a Saturday, Sunday or public holiday when banks in London are open for business;
            </p>
            <p>
                &ldquo;
                <strong>
                    Client
                </strong>
                &rdquo; means a person submitting a request to Buzzhire for the Introduction and supply of one or more Temporary Workers (and where an individual is acting on behalf of a company, partnership or other legal entity, the Client will be deemed to be that company, partnership or other legal entity);
            </p>
            <p>
                &ldquo;
                <strong>
                    Conduct Regulations 2003
                </strong>
                &rdquo; means the Conduct of Employment Agencies and Employment Business Regulations 2003 (
                <em>
                    SI 2003/3319
                </em>
                );
            </p>
            <p>
                &ldquo;
                <strong>
                    Engage
                </strong>
                &rdquo; means the employment of a Temporary Worker or engagement directly or indirectly through any employment business other than through Buzzhire (whether for a definite or indefinite period) as a direct result of any Assignment to the Client and the terms
                <strong>
                    Engaged
                </strong>
                 or
                <strong>
                    Engagement
                </strong>
                 shall be construed accordingly;
            </p>
            <p>
                &ldquo;
                <strong>
                    Extended Assignment
                </strong>
                &rdquo; shall have the meaning set out in clause 4.2;
            </p>
            <p>
                &ldquo;
                <strong>
                    Indemnity
                </strong>
                &rdquo; shall have the meaning set out in clause 10.1 and
                <strong>
                    Indemnified
                </strong>
                 and
                <strong>
                    Indemnifies
                </strong>
                 shall be construed accordingly;
            </p>
            <p>
                &ldquo;
                <strong>
                    Introduce
                </strong>
                &rdquo; means the confirmation of the details of the Temporary Worker to be supplied to the Client, to be given by Buzzhire in accordance with clause 2.5;
            </p>
            <p>
                [&ldquo;
                <strong>
                    Introduction Fee
                </strong>
                &rdquo; shall have the meaning set out in clause 4.1;]
            </p>
            <p>
                &ldquo;
                <strong>
                    Other Qualifying Payments
                </strong>
                &rdquo; means any remuneration payable to the Temporary Worker (other than their basic hourly rate), which is not excluded by virtue of regulation 6 of the AWR 2010, such as any overtime, shift premium, commission or any bonus, incentive or rewards which are directly attributable to the amount or quality of work done by a Temporary Worker and are not linked to a financial participation scheme (as defined by the AWR 2010);
            </p>
            <p>
                &ldquo;
                <strong>
                    Qualifying Temporary Worker
                </strong>
                &rdquo; means any Temporary Worker who at the relevant time is entitled to the rights conferred by regulation 5 of the AWR 2010 and in particular has been provided to the Client (whether by Buzzhire or any third party) for the Qualifying Period and in respect of whom Buzzhire has complied with its obligations under clause 2;
            </p>
            <p>
                &ldquo;
                <strong>
                    Qualifying Period
                </strong>
                &rdquo; means the 12-week qualifying period as defined in regulation 7 of the AWR 2010, subject to regulations 8 and 9 of the AWR 2010;
            </p>
            <p>
                &ldquo;
                <strong>
                    Relevant Period
                </strong>
                &rdquo; means shall have the meaning set out in regulation 10(5) and (6) of the Conduct Regulations 2003;
            </p>
            <p>
                &ldquo;
                <strong>
                    Relevant Terms and Conditions
                </strong>
                &rdquo; means the relevant terms and conditions for any particular Qualifying Temporary Worker as defined in regulation 6 of the AWR 2010;
            </p>
            <p>
                &ldquo;
                <strong>
                    Request Summary
                </strong>
                &rdquo; means the summary of the Client&rsquo;s request for the supply of one or more Temporary Workers [as displayed on screen prior to final submission of the Client&rsquo;s request;]
            </p>
            <p>
                &ldquo;
                <strong>
                    Screen
                </strong>
                &rdquo; means carry out pre-vetting checks to the level and criteria suitable to the request made by the Client in accordance with clause 3.1 and
                <strong>
                    Screening
                </strong>
                 shall be construed accordingly;
            </p>
            <p>
                &ldquo;
                <strong>
                    Temporary Worker
                </strong>
                &rdquo; means a Worker Introduced and supplied by Buzzhire to the Client to provide services to the Client not as an employee of the Client, who is deemed to be an agency worker for the purposes of regulation 3 of the AWR 2010;
            </p>
            <p>
                &ldquo;
                <strong>
                    Temporary Worker Fees
                </strong>
                &rdquo; means shall have the meaning set out in clause 6.1;
            </p>
            <p>
                &ldquo;
                <strong>
                    Territory
                </strong>
                &rdquo; means the United Kingdom;
            </p>
            <p>
                &ldquo;
                <strong>
                    TUPE
                </strong>
                &rdquo; means the Transfer of Undertakings (Protection of Employment) Regulation 2006 (
                <em>
                    SI 2006/246
                </em>
                );
            </p>
            <p>
                &ldquo;
                <strong>
                    Unsatisfactory Temporary Worker
                </strong>
                &rdquo; has the meaning set out in clause 5.1;
            </p>
            <p>
                &ldquo;
                <strong>
                    VAT
                </strong>
                &rdquo; means value added tax chargeable under the Value Added Tax Act 1994;
            </p>
            <p>
                &ldquo;
                <strong>
                    Vulnerable Person
                </strong>
                &rdquo; means shall have the meaning set out in regulation 2 of the Conduct Regulations 2003;
            </p>
            <p>
                &ldquo;
                <strong>
                    Worker
                </strong>
                &rdquo; means an individual worker; and
            </p>
            <p>
                &ldquo;
                <strong>
                    Working Day
                </strong>
                &rdquo; means [Monday through to Saturday] other than public holidays in England.
            </p>
            <ol>
                <ol>
                    <li>
                        <p>
                            A reference to a statute or statutory provision is a reference to it as amended, extended or re-enacted from time to time and shall include all subordinate legislation made from time to time under that statute or statutory provision.
                        </p>
                    </li>
                </ol>
                <li>
                    <p>
                        <strong>
                            Buzzhire&rsquo;s obligations
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                These Terms set out the agreement between Buzzhire and the Client for the Introduction and supply of Temporary Workers by Buzzhire to the Client. For the purposes of the Conduct Regulations 2003, Buzzhire acts as an employment business in relation to the supply of Temporary Workers pursuant to these Terms.
                            </p>
                        </li>
                        <li>
                            <p>
                                On request by a Client for the provision of a Temporary Worker (such request to be made in accordance with clause 3.1), Buzzhire will consult its database of Workers and, subject to availability, will Introduce and supply a Temporary Worker that meets the Client&rsquo;s requirements for the Assignment.
                            </p>
                        </li>
                        <li>
                            <p>
                                Buzzhire agrees to Screen all Workers and to Introduce and supply to the Client only Workers who meet the minimum criteria for the position as set out by the Client in accordance with clause 3.1 and who have an interest in the positions for which they are supplied. Buzzhire will only Introduce and supply Workers who have the right to work in the Territory and, in particular, Buzzhire shall comply with the Immigration Asylum and Nationality Act 2006 and other relevant UK legislation or equivalent legislation in the relevant jurisdiction as well as any regulations or relevant codes of practice regarding the reporting of labour movements, concealed employment and the employment of foreign workers.
                            </p>
                        </li>
                        <li>
                            <p>
                                Where a Worker is required by law or any professional body to have any qualifications or authorisations to work on the Assignment or the Assignment involves working with any Vulnerable Persons, Buzzhire will take all reasonably practicable steps to obtain, and offer to provide copies of, any relevant qualifications or authorisations and two references. Buzzhire will also take all reasonably practicable steps to confirm that the Worker is suitable for the Assignment. If Buzzhire is unable to fully comply with these requirements, it shall inform the Client of the steps it has taken to supply the necessary information.
                            </p>
                        </li>
                        <li>
                            <p>
                                Prior to the commencement of the Assignment, Buzzhire will send the Client written confirmation of:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        the identity of the Temporary Worker;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the Temporary Worker&rsquo;s experience, training, qualifications and authorisations necessary for the Assignment; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the hourly rate charged by Buzzhire in accordance with clause 6.1.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                Buzzhire shall notify the Client promptly if it receives or obtains any information which indicates that a Temporary Worker may be unsuitable for the Assignment or which is inconsistent with any information previously provided including where a Temporary Worker ceases to have the appropriate skills, approvals or a right to work in the United Kingdom.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Client&rsquo;s obligations
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                When making a request for the provision of a Temporary Worker to perform a service (&ldquo;Assignment&rdquo;), the Client will give Buzzhire details of:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        the date on which the Client requires the Temporary Worker to commence work and the duration, or likely duration, of the work;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the position which the Client seeks to fill, including the type of work the Temporary Worker in that position would be required to do, the location at which, and the hours during which, the Temporary Worker would be required to work, and any risk to health or safety known to the Client and what steps the Client has taken to prevent or control such risks;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the experience, training, qualifications and any authorisation which the Client considers are necessary, or which are required by law, or by any professional body, for the Temporary Worker to possess in order to work in the position; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        any expenses payable by or to the Worker.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Temporary to permanent
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                 If, following the supply of a Temporary Worker by Buzzhire to the Client within the Relevant Period, the Client Engages the Temporary Worker or introduces the Temporary Worker to a third party (other than another employment business) who subsequently Engages the Temporary Worker within the Relevant Period, the Client will pay Buzzhire an introduction fee at the rate set out in the Request Summary (&ldquo;Introduction Fee&rdquo;). The Introduction Fee will be of &pound;750 per Temporary Worker.
                            </p>
                        </li>
                        <li>
                            <p>
                                 The Introduction Fee will not be payable if the Client gives written notice to Buzzhire that it intends to continue the hire of the Temporary Worker for a further period of [three] months through Buzzhire (&ldquo;Extended Assignment&rdquo;) before it Engages the Temporary Worker.
                            </p>
                        </li>
                        <li>
                            <p>
                                Where the Client decides (in accordance with clause 4.2) to have the Temporary Worker supplied by Buzzhire for the Extended Assignment:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        the Temporary Worker Fees payable by the Client during the Extended Assignment shall be at the same hourly rates as those applicable immediately before Buzzhire received the Client&rsquo;s notice of election;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        at the end of the Extended Assignment, the Client may Engage the Temporary Worker without paying the Introduction Fee; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        if the Client chooses an Extended Assignment, but Engages the Temporary Worker before the end of the Extended Assignment, the Introduction Fee may be charged by Buzzhire, reduced proportionately to reflect the amount of the Extended Assignment paid for by the Client.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Termination of an Assignment
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                 If the Client decides that a Temporary Worker is unsuitable to perform the Assignment (an &ldquo;Unsatisfactory Temporary Worker&rdquo;), then the Client shall notify Buzzhire in writing of that fact giving the grounds for its dissatisfaction with the Unsatisfactory Temporary Worker.
                            </p>
                        </li>
                        <li>
                            <p>
                                If the Client notifies Buzzhire of an Unsatisfactory Temporary Worker in accordance with clause 5.1, Buzzhire may, in such circumstances, reduce or cancel the charges for the time worked by that Temporary Worker, provided that the Assignment is terminated by the Client:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        within four hours of the Temporary Worker commencing the Assignment where the booking is made for more than seven hours; or
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        within two hours for booking seven hours or less; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        also provided that notification of the unsuitability of the Temporary Worker is confirmed in writing to Buzzhire within 48 hours of the termination of the Assignment.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                Buzzhire or the Client may terminate an Assignment at any time without prior notice and without liability (except in cases of termination by the Client, in which case the Client will be liable for the Temporary Worker Fees due and payable for services already performed). Such cancellation or amendment shall be effective immediately upon the giving by the Client of notice to Buzzhire (which may be given by telephone or e-mail).
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Fees and VAT
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                 The Client will pay Buzzhire Temporary Worker Fees in respect of Temporary Workers as set out in the Request Summary. The Temporary Worker Fees comprise the Temporary Worker&rsquo;s pay and holiday pay, and include Buzzhire&rsquo;s commission and National Insurance contributions in respect of the Temporary Worker. When booking a Temporary Worker for an Assignment, Buzzhire shall advise the Client of the agreed Temporary Worker Fees for that Temporary Worker. The following conditions apply to the Temporary Worker Fees:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        they are calculated according to the number of hours worked by the Temporary Worker (to the nearest quarter hour);
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the minimum period of any Assignment shall be one hour;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the Client shall during the Assignment sign a time sheet verifying the number of hours worked by the Temporary Worker during a particular week. If the Client is unable to sign a time sheet produced for authentication by the Temporary Worker because the Client disputes the hours claimed, the Client shall inform Buzzhire as soon as is reasonably practicable and shall co-operate fully and in a timely fashion with Buzzhire to enable Buzzhire to establish what hours, if any, were worked by the Temporary Worker. Failure to sign the time sheet does not absolve the Client of its obligation to pay the Temporary Worker Fees in respect of the hours actually worked;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        it is acknowledged that the Client shall not decline to sign a time sheet on the basis that it is dissatisfied with the work performed by the Temporary Worker. In cases of unsuitable or unsatisfactory work the provisions of clause 5.2 shall apply;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the Client will be invoiced at the end of the Assignment and invoices shall be payable by the Client immediately;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        for the avoidance of doubt, the Client shall not be required to pay Temporary Worker Fees for any absences (for whatever reason) of a Temporary Worker.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        should the Assignment exceed the pre-booked time period, the Client shall be subject to a penalty fee.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                Where applicable, Buzzhire shall charge VAT to the Client, at the prevailing rate, after Buzzhire has provided the Client with a VAT invoice.
                            </p>
                        </li>
                        <li>
                            <p>
                                If the Client fails to make any payment due to Buzzhire under these Terms by the due date for payment, then, the Client shall pay interest on the overdue amount at the rate of 4% per annum above Barclays Bank&rsquo;s base rate from time to time. Such interest shall accrue on a daily basis from the due date until actual payment of the overdue amount, whether before or after judgment. The Client shall pay the interest together with the overdue amount.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Default and early termination
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                Without affecting any other right or remedy available to it, either party may terminate these Terms with immediate effect by giving written notice to the other party (&ldquo;Defaulting Party&rdquo;) if:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        the Defaulting Party commits a material breach of any term of these Terms and (if such a breach is remediable) fails to remedy that breach within 15 days of receipt of notice in writing to do so; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the Defaulting Party is unable to pay its debts; or becomes insolvent; or is subject to an order or a resolution for its liquidation, administration, winding up or dissolution (otherwise than for the purposes of a solvent amalgamation or reconstruction); or has an administrative or other receiver, manager, trustee, liquidator, administrator or similar officer appointed over all or any substantial part of its assets; or enters into or proposes any composition or arrangement with its creditors generally; or ceases or threatens to cease business; or is subject to any analogous event or proceeding in any applicable jurisdiction.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Effect of early termination
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                Any provision of these Terms that expressly or by implication is intended to come into or continue in force on or after termination or expiry of these Terms shall remain in full force and effect.
                            </p>
                        </li>
                        <li>
                            <p>
                                Termination of these Terms shall not affect any rights, remedies, obligations or liabilities of the parties that have accrued up to the date of termination, including the right to claim damages in respect of any breach of the agreement which existed at or before the date of termination.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Audit and record-keeping
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                Buzzhire shall keep and maintain until six years after the agreement has been completed, or as long a period as may be agreed between the parties, full and accurate records of the agreement including, in particular:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        the services provided by Buzzhire under these Terms;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        all expenditure reimbursed by the Client;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        all payments made by the Client;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the terms on which it or any sub-contractors engage any Temporary Workers; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        the Screening undertaken on any Temporary Workers.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                Buzzhire shall on request provide the Client or the Client&rsquo;s representatives such access, on reasonable notice and within normal working hours, to those records as may be reasonably required in connection with these Terms.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Warranties and Liability
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                 Each party warrants that it does and shall comply with the all relevant statutes, laws, regulations and codes of practice from time to time in force in the relevant Territory.
                            </p>
                        </li>
                        <li>
                            <p>
                                Each party warrants that it has full capacity and authority to enter into and perform these Terms.
                            </p>
                        </li>
                        <li>
                            <p>
                                Whilst Buzzhire will endeavour to provide the services contemplated by these Terms with reasonable skill and care, it does not make any warranties in this regard and shall not be liable for any loss, expense, damage or delay arising from any failure to provide a Temporary Worker for all or part of the period of the booking or from negligence, dishonesty, misconduct or lack of skill of the Temporary Worker. For the avoidance of doubt, Buzzhire does not exclude liability for death or personal injury arising from its own negligence or for fraud.
                            </p>
                        </li>
                        <li>
                            <p>
                                 The Client agrees to indemnify, defend and hold harmless Buzzhire, its officers and employees, from and against any and all expenses, damages, claims (whether valid or invalid and whether deemed, alleged or upheld), suits, losses, actions, judgements, liabilities and costs whatsoever (including legal fees on a full indemnity basis) arising out of, connected with, or resulting from the Client&rsquo;s failure to comply with its obligations under the AWR 2010 (including but not limited to providing any Temporary Workers with access to collective facilities and amenities and employment opportunities subject to and in accordance with regulation 12 and 13 of the AWR 2010) and/or in circumstances where by its acts or omissions the Client has prevented Buzzhire from complying with regulation 5 of the AWR 2010.
                            </p>
                        </li>
                        <li>
                            <p>
                                 In the event that either party receives an allegation by any Temporary Worker that there has been a breach of the AWR 2010 in relation to the supply of that person to the Client by Buzzhire (whether that allegation has been made as a request for information under regulation 16 of the AWR 2010 or otherwise), it shall provide a copy of that allegation to the other party within seven days of receipt. The parties shall co-operate with each other in relation to responding to that allegation, which shall include supplying any information which may be reasonably requested by the other party, and complying with any reasonable requests in relation to the contents of any response.
                            </p>
                        </li>
                        <li>
                            <p>
                                The provisions of this clause 10 shall survive termination of these Terms.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Confidentiality
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                Each party undertakes that it shall not at any time, disclose to any person any confidential information concerning the business, affairs, customers, clients or suppliers of the other party or of any member of the group of companies to which the other party belongs, except as permitted by clause 11.2.
                            </p>
                        </li>
                        <li>
                            <p>
                                 Each party may disclose the other party&rsquo;s confidential information:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        to its employees, officers, representatives, advisers or the Temporary Workers who need to know such information for the purposes of carrying out the party&rsquo;s obligations under these Terms. Each party shall ensure that its employees, officers, representatives, advisers or the Temporary Workers to whom it discloses the other party&rsquo;s confidential information comply with this clause 11; and
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        as may be required by law, a court of competent jurisdiction or any governmental or regulatory authority.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                No party shall use any other party&rsquo;s confidential information for any purpose other than to perform its obligations under these Terms.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Data protection compliance
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                Each party acknowledges that it is a data controller within the meaning of the Data Protection Act 1998 (&ldquo;Act&rdquo;) and shall be responsible for complying with the Act in respect of processing any personal data belonging a Temporary Worker.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            Notices
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                Any notice given to a party under or in connection with this contract shall be in writing and shall be:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        sent by email:
                                    </p>
                                    <ol>
                                        <li>
                                            <p>
                                                in the case of Buzzhire, to the email address specified on the contact page of Buzzhire&rsquo;s website; and
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                in the case of the Client, to the email address specified by the Client in its order request for a Temporary Worker; or
                                            </p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p>
                                        delivered by hand or by pre-paid first-class post or other next working day delivery service at its registered office (if a company) or its principal place of business (in any other case).
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                Any notice shall be deemed to have been received:
                            </p>
                            <ol>
                                <li>
                                    <p>
                                        If sent by email, at 9.00am on the next Business Day after transmission;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        if delivered by hand, on signature of a delivery receipt or at the time the notice is left at the proper address; or
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        if sent by pre-paid first-class post or other next working day delivery service, at 9.00 am on the second Business Day after posting or at the time recorded by the delivery service.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                This clause does not apply to the service of any proceedings or other documents in any legal action or, where applicable, any arbitration or other method of dispute resolution.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>
                            General
                        </strong>
                    </p>
                    <ol>
                        <li>
                            <p>
                                The Client shall not assign, transfer, mortgage, charge, declare a trust over or deal in any other manner with any or all of its rights and obligations under these Terms without the prior written consent of Buzzhire (such consent not to be unreasonably withheld or delayed).
                            </p>
                        </li>
                        <li>
                            <p>
                                Nothing in these Terms is intended to, or shall be deemed to, establish any partnership or joint venture between any of the parties, constitute any party the agent of another party, or authorise any party to make or enter into any commitments for or on behalf of any other party. Each party confirms it is acting on its own behalf and not for the benefit of any other person.
                            </p>
                        </li>
                        <li>
                            <p>
                                These Terms constitutes the entire agreement between the parties and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between them, whether written or oral, relating to its subject matter.
                            </p>
                        </li>
                        <li>
                            <p>
                                Each party acknowledges that in entering into these Terms it does not rely on, and shall have no remedies in respect of any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Terms. Each party agrees that it shall have no claim for innocent or negligent misrepresentation or negligent misstatement based on any statement in these Terms. Nothing in this clause shall limit or exclude any liability for fraud.
                            </p>
                        </li>
                        <li>
                            <p>
                                No one other than a party to this agreement shall have any right to enforce any of its terms.
                            </p>
                        </li>
                        <li>
                            <p>
                                Neither party shall be in breach of these Terms nor liable for delay in performing, or failure to perform, any of its obligations under these Terms, including payment, if such delay or failure result from events, circumstances or causes beyond its reasonable control. In such circumstances the affected party shall be entitled to a reasonable extension of the time for performing such obligations unless the other party terminates the agreement in accordance with clause 5.4.
                            </p>
                        </li>
                        <li>
                            <p>
                                If any provision or part-provision of these Terms is or becomes invalid, illegal or unenforceable, it shall be deemed modified to the minimum extent necessary to make it valid, legal and enforceable. If such modification is not possible, the relevant provision or part-provision shall be deemed deleted. Any modification to or deletion of a provision or part-provision under this clause shall not affect the validity and enforceability of the rest of these Terms.
                            </p>
                        </li>
                        <li>
                            <p>
                                 These Terms and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.
                            </p>
                        </li>
                        <li>
                            <p>
                                Each party irrevocably agrees that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim arising out of or in connection with these Terms or its subject matter or formation (including non-contractual disputes or claims).
                            </p>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

