<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Primes - Landing Page Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">

            <!--Colors-->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/hotpink.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/orange.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/seagreen.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/turquoise.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/blue.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/skyblue.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/purple.css"> -->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.png">

    </head>

    <body data-spy="scroll" data-offset="80">
         <div class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home"><i class="fa fa-power-off"></i> PrimeS</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#features-section">Features</a></li>
                        <li><a href="#products-section">Products</a></li>
                        <li><a href="#team-section">Team</a></li>
                        <li><a href="#faq-section">FAQ</a></li>
                        <li><a href="#contact-section">Contact</a></li>
                    </ul>
                </div> 
            </div>
        </div> 

        <!-- Top content -->
        <div id="home" class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            <h2>Landing Page Template</h2>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra odio ac felis iaculis cursus aliquet quis orci. Nunc id lorem ut mi euismod accumsan. Nullam at sapien lacus. Pellentesque nec mollis metus. Fusce sed risus suscipit, vulputate augue non, scelerisque lacus.
                            </div>
                            <div class="top-button">
                                <a class="btn btn-lg" href="#features-section"><i class="fa fa-angle-double-down"></i> Learn More</a>
                                <a class="btn btn-lg" href="#products-section"> <i class="fa fa-mobile"></i> Download Now</a>
                            </div>
                            <img src="assets/img/1.png" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <!-- Features -->
        <div id="features-section" class="features-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 features">
                        <h3>Features</h3>
                        <p>
                            Sed non sem libero. Aenean in orci porta, sodales lorem vel, ultricies lacus. Vestibulum eu urna sed leo tempor auctor et vitae augue. Praesent libero leo, tempor eget mattis nec, cursus non felis. Donec vitae orci ut turpis convallis mattis.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 features-box">
                        <div class="icon">
                            <i class="fa fa-apple"></i>
                        </div>
                        <h4>Iphone Version</h4>
                        <p>
                            Ut lobortis auctor est, quis ornare orci tristique vel. Pellentesque sit amet ultricies nisl. Ut aliquet dolor mi, vitae varius felis elementum.
                        </p>
                    </div>
                    <div class="col-sm-4 features-box">
                        <div class="icon">
                            <i class="fa fa-android"></i>
                        </div>
                        <h4>Android Version</h4>
                        <p>
                            Ut lobortis auctor est, quis ornare orci tristique vel. Pellentesque sit amet ultricies nisl. Ut aliquet dolor mi, vitae varius felis elementum.
                        </p>
                    </div>
                    <div class="col-sm-4 features-box">
                        <div class="icon">
                            <i class="fa fa-windows"></i>
                        </div>
                        <h4>Windows Version</h4>
                        <p>
                            Ut lobortis auctor est, quis ornare orci tristique vel. Pellentesque sit amet ultricies nisl. Ut aliquet dolor mi, vitae varius felis elementum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Product -->
        <div id="products-section" class="product-container product-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 product-text">
                        <h3>Iphone mobile apps</h3>
                        <p>
                            Integer ac bibendum lectus. Quisque interdum aliquam felis vel volutpat. Vivamus commodo felis quis dui pharetra, ac venenatis magna lacinia. Vestibulum quis dignissim nibh. Duis vitae felis orci. Aliquam porta interdum feugiat.
                        </p>
                        <div class="product-button">
                            <a class="btn btn-primary" href="#"><i class="fa fa-apple"></i> Buy Now</a>
                        </div>

                    </div>
                    <div class="col-md-5 product-img">
                        <img src="assets/img/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Product -->
        <div class="product-container product-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 product-img">
                        <img src="assets/img/3.png" alt="">

                    </div>
                    <div class="col-md-7 product-text">
                        <h3>Android mobile apps</h3>
                        <p>
                            Integer ac bibendum lectus. Quisque interdum aliquam felis vel volutpat. Vivamus commodo felis quis dui pharetra, ac venenatis magna lacinia. Vestibulum quis dignissim nibh. Duis vitae felis orci. Aliquam porta interdum feugiat.
                        </p>
                        <div class="product-button">
                            <a class="btn btn-primary" href="#"><i class="fa fa-android"></i> Buy Now</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <!-- Product -->
        <div class="product-container product-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 product-text">
                        <h3>Windows mobile apps</h3>
                        <p>
                            Integer ac bibendum lectus. Quisque interdum aliquam felis vel volutpat. Vivamus commodo felis quis dui pharetra, ac venenatis magna lacinia. Vestibulum quis dignissim nibh. Duis vitae felis orci. Aliquam porta interdum feugiat.
                        </p>
                        <div class="product-button">
                            <a class="btn btn-primary" href="#"><i class="fa fa-windows"></i> Buy Now</a>
                        </div>

                    </div>
                    <div class="col-md-5 product-img">
                        <img src="assets/img/4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
                <!-- Testimonials -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 testimonials">
                    <h3>Testimonials</h3>
                <div class="col-sm-4 reviews">
                    <div class="review reviews-panel box-arrow-down">
                        <p>
                            Pellentesque sit amet augue a mi luctus laoreet ut nec velit. Morbi in fermentum elit.
                        </p>
                    </div>
                    <div class="review-author">
                        <div class="img">
<img src="assets/img/testimonials/1.jpg" alt=""></div>
                        <p>
                            <a href="#"><strong>David Hoffman</strong></a><br />
                            <span>Dolor magna...</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 reviews">
                    <div class="review reviews-panel box-arrow-down">
                        <p>
                            Pellentesque sit amet augue a mi luctus laoreet ut nec velit. Morbi in fermentum elit.
                        </p>
                    </div>
                    <div class="review-author">
                        <div class="img">
<img src="assets/img/testimonials/2.jpg" alt=""></div>
                        <p>
                            <a href="#"><strong>Dana Bell</strong></a><br />
                            <span>Dolor magna...</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 reviews">
                    <div class="review reviews-panel box-arrow-down">
                        <p>
                            Pellentesque sit amet augue a mi luctus laoreet ut nec velit. Morbi in fermentum elit.
                        </p>
                    </div>
                    <div class="review-author">
                        <div class="img">
<img src="assets/img/testimonials/3.jpg" alt=""></div>
                        <p>
                            <a href="#"><strong>Mark Jeff</strong><br /></a>
                            <span>Dolor magna...</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <!-- Subscription -->
        <div class="subscribe-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 subscribe">
                        <h3>Subscribe to our newsletter</h3>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ut urna eget felis mattis tincidunt id sed risus.</p>
                        <form class="form-inline" action="assets/subscribe.php" method="post">
                            <input type="text" name="email" placeholder="Enter your email">
                            <button type="submit" class="btn btn-subscribe">Subscribe</button>
                        </form>
                        <div class="success-message"></div>
                        <div class="error-message"></div>
                    </div>
                </div>
            </div>
        </div>
        
   
        <!-- Team -->
        <div id="team-section" class="team-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 team">
                        <h3>Our Team</h3>
                        <p>
                            Ut ac varius nibh. Nullam est nisl, sagittis sed risus vel, facilisis commodo tortor. Suspendisse suscipit tellus vitae tellus porta rutrum. Proin ac orci auctor, consequat dolor nec, scelerisque nisl. Aliquam imperdiet nulla id scelerisque auctor. Proin egestas mauris vel arcu bibendum ornare.
                        </p>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                            <img src="assets/img/team/1.png" alt="">
                        <h4>Lara Thompson</h4>
                        <p>Developer</p>
                        <div class="contact-details">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li><li>
                                <a href="#"><i class="fa fa-twitter"></i></a></li><li>
                                <a href="#"><i class="fa fa-google-plus"></i></a></li><li>
                                <a href="#"><i class="fa fa-tumblr"></i></a></li><li>
                                <a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                            <img src="assets/img/team/2.png" alt="">
                        <h4>Nicole Kass</h4>
                        <p>Programmer</p>
                        <div class="contact-details">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li><li>
                                <a href="#"><i class="fa fa-twitter"></i></a></li><li>
                                <a href="#"><i class="fa fa-google-plus"></i></a></li><li>
                                <a href="#"><i class="fa fa-tumblr"></i></a></li><li>
                                <a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                            <img src="assets/img/team/3.png" alt="">
                        <h4>Paul Smith</h4>
                        <p>Software Engineer</p>
                        <div class="contact-details">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li><li>
                                <a href="#"><i class="fa fa-twitter"></i></a></li><li>
                                <a href="#"><i class="fa fa-google-plus"></i></a></li><li>
                                <a href="#"><i class="fa fa-tumblr"></i></a></li><li>
                                <a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                            <img src="assets/img/team/4.png" alt="">
                        <h4>Gena Chane</h4>
                        <p>Sales Manager</p>
                        <div class="contact-details">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li><li>
                                <a href="#"><i class="fa fa-twitter"></i></a></li><li>
                                <a href="#"><i class="fa fa-google-plus"></i></a></li><li>
                                <a href="#"><i class="fa fa-tumblr"></i></a></li><li>
                                <a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
        <!-- FAQ -->
        <div id="faq-section" class="faq-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 faq-text">
                        <h3>Frequently Asked Questions</h3>
                        <p>
                            Duis vitae felis orci. Aliquam porta interdum feugiat. Ut placerat, sem porta adipiscing sagittis, justo neque condimentum lacus, id vulputate velit ante eu arcu. Sed convallis eu ante ut sagittis. Mauris eget arcu consectetur, porttitor leo non, consequat lectus.
                        </p>
                <div class="col-md-6 col-sm-6 col-xs-12 faq">
                    <div class="faq-box">
                        <h4 class="question"><i class="fa fa-question-circle"></i>Nam ultricies sem sit amet risus?</h4>
                        <p class="answer">Donec accumsan, nunc accumsan scelerisque fringilla, ante risus tincidunt justo, consequat molestie diam nisl sollicitudin lacus. Donec condimentum egestas tellus, ut tempus sem luctus sed. Nulla vel accumsan justo, in faucibus nisl. Duis egestas ante at justo lacinia bibendum.</p>
                    </div>
                    <div class="faq-box">
                        <h4 class="question"><i class="fa fa-question-circle"></i>Nam ultricies sem sit amet risus tempor?</h4>
                        <p class="answer">Donec accumsan, nunc accumsan scelerisque fringilla, ante risus tincidunt justo, consequat molestie diam nisl sollicitudin lacus. Donec condimentum egestas tellus, ut tempus sem luctus sed. Nulla vel accumsan justo, in faucibus nisl. Duis egestas ante at justo lacinia bibendum.</p>
                    </div> 
                    <div class="faq-box">
                        <h4 class="question"><i class="fa fa-question-circle"></i>Duis congue ullamcorper?</h4>
                        <p class="answer">Donec accumsan, nunc accumsan scelerisque fringilla, ante risus tincidunt justo, consequat molestie diam nisl sollicitudin lacus. Donec condimentum egestas tellus, ut tempus sem luctus sed. Nulla vel accumsan justo, in faucibus nisl. Duis egestas ante at justo lacinia bibendum.</p>
                    </div> 
                </div> 

                <div class="col-md-6 col-sm-6 col-xs-12 faq">
                    <div class="faq-box">
                        <h4 class="question"><i class="fa fa-question-circle"></i>Pellentesque lacinia tristique libero?</h4>
                        <p class="answer">Donec accumsan, nunc accumsan scelerisque fringilla, ante risus tincidunt justo, consequat molestie diam nisl sollicitudin lacus. Donec condimentum egestas tellus, ut tempus sem luctus sed. Nulla vel accumsan justo, in faucibus nisl. Duis egestas ante at justo lacinia bibendum.</p>
                    </div> 
                    <div class="faq-box">
                        <h4 class="question"><i class="fa fa-question-circle"></i>Suspendisse sed nisl sit amet ante venenatis?</h4>
                        <p class="answer">Donec accumsan, nunc accumsan scelerisque fringilla, ante risus tincidunt justo, consequat molestie diam nisl sollicitudin lacus. Donec condimentum egestas tellus, ut tempus sem luctus sed. Nulla vel accumsan justo, in faucibus nisl. Duis egestas ante at justo lacinia bibendum.</p>
                    </div> 
                    <div class="faq-box">
                        <h4 class="question"><i class="fa fa-question-circle"></i>Nam ac molestie augue?</h4>
                        <p class="answer">Donec accumsan, nunc accumsan scelerisque fringilla, ante risus tincidunt justo, consequat molestie diam nisl sollicitudin lacus. Donec condimentum egestas tellus, ut tempus sem luctus sed. Nulla vel accumsan justo, in faucibus nisl. Duis egestas ante at justo lacinia bibendum.</p>
                    </div> 
                   </div> 
                  </div>
                 </div>
                </div>
               </div>

        <!-- Contact us -->
        <div id="contact-section" class="contact-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contact">
                    <h3>Contact Us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra odio ac felis iaculis cursus aliquet quis orci. Nunc id lorem ut mi euismod accumsan.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 form-group contact-form">
                    <h4>Send message</h4>
                    <form method="post" action="assets/contact.php">
                        <input type="text" name="email" placeholder="Email" class="form-control contact-email">
                        <input type="text" name="subject" placeholder="Subject" class="form-control contact-subject">
                        <textarea name="message" class="form-control" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn-contact">Submit</button>
                    </form>
                </div>
                <div class="col-sm-5 contact-address contact-about">
                    <h4>About Us</h4>
                    <p>Fusce at leo eros. Morbi mauris arcu, eleifend sit amet turpis ac, porta luctus neque. Etiam ultricies ac augue a venenatis. Quisque aliquam odio eu magna sodales, vel interdum erat suscipit. Mauris ut porttitor tellus.
</p>
                    <h4>Address</h4>
                    <p><i class="fa fa-map-marker"></i>13 Brant Street, Burlington, Ontario, Canada</p>
                    <p><i class="fa fa-phone"></i>Phone: 0011 222 335 7773</p>

                </div>
            </div>
          </div>
        </div>

        
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 copyright">
                        <p>&copy; Primes Landing Page</p>
                    </div>
                    <div class="col-sm-5 social-icon">
                        <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-tumblr"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        

        <!-- Javascript -->
        <script src="assets/js/jquery-1.10.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/jquery.easing.1.3.min.js"></script>
        <script src="assets/js/main.js"></script>

    </body>

</html>

